
<div class="col-lg-3" style="background-color: #c8e3f5">
    <button
      class="btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <img
        src="../assets/images/stu.png"
        class="rounded-circle image-fluid"
      />
    </button>
 
   
    <h3>{{ loggedInUsername }}</h3> 
    <h5>Admin</h5>
   
   
    <table class="table-1">
   
<tbody>
      <!-- <tr>
        <td><b>Email </b></td>
        <td>:</td>
        <td>{{ loggedInUseremail }}</td>
        
      </tr> -->
      
      <tr>
        <td><b>Position </b></td>
        <td>:</td>
        <td>Frontend Developer</td>
      </tr>
      <tr>
        <td><b>Education </b></td>
        <td>:</td>
        <td>BE-CSE</td>
      </tr>
      <tr><td><b>Work Exp</b></td>
        <td>:</td>
        <td>Three years</td>
      </tr>
      <tr>
        <td><b>Certification</b></td>
        <td>:</td>
        <td>HTML, CSS, JAVA</td>
      </tr>
      <tr>
        <td><b>Skills </b></td>
        <td>:</td>
        <td>java, c, data science</td>
      </tr>

      <tr>
        <td><b>LinkedIn</b></td>
        <td>:</td>
        <td><a href="https://www.linkedin.com/in/ahalya-s-386b10227/" style="text-decoration:none;color:black">https://www.linkedin.com/in/ahalya-s-386b10227/</a></td>
    </tr>
      <tr>
        <td><b>Contact</b></td>
        <td>:</td>
        <td>9952548057</td>
      </tr>
    </tbody>
    </table>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Profile</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <table class="table">
          <tbody>
          <tr>
            <td><b>Email </b></td>
            <td>:</td>
            <td>2k20cse002kiot.ac.in</td>
               </tr>
          <tr>
            <td><b>Position </b></td>
            <td>:</td>
            <td>Frontend Developer</td>
          </tr>
          <tr>
            <td><b>Education </b></td>
            <td>:</td>
            <td>BE-CSE</td>
          </tr>
          <tr>
            <td><b>Work Experience</b></td>
            <td>:</td>
            <td>three years</td>
          </tr>
          <tr>
            <td><b>Certification</b></td>
            <td>:</td>
            <td>HTML, CSS, JAVA</td>
          </tr>
          <tr>
            <td><b>Skills </b></td>
            <td>:</td>
            <td>java, c, data science</td>
          </tr>
          <tr>
            <td><b>LinkedIn</b></td>
            <td>:</td>
            <td><a href="https://www.linkedin.com/in/ahalya-s-386b10227/" style="text-decoration:none;color:black">https://www.linkedin.com/in/ahalya-s-386b10227/</a></td>
        </tr>
          <tr>
            <td><b>Contact</b></td>
            <td>:</td>
            <td>9952548057</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>