
<nav class="navbar navbar-expand-lg gap-5 fixed-right">
    <h2 class="logo">T𝖗𝖆𝖎𝖓𝖊𝖊𝖛𝖆𝖑</h2>

    <button
      class="btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
          Traineeval
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 List-unstyled">
          <li class="nav-item" >
            <a
            [routerLink]="['/session']"
            [routerLinkActive]="'active'"
             
              >Session</a
            >
          </li>
          <li class="nav-item" >
            <a   [routerLink]="['/generatefeedback']" [routerLinkActive]="'active'">Generate feedback</a>
          </li>
          <li class="nav-item" >
            <a [routerLink]="['/feedback']"[routerLinkActive]="'active'">Feedback</a>
          </li>
          <li class="nav-item" >
            <a [routerLink]="['/attendance']" [routerLinkActive]="'active'">Attendance</a>
          </li>
          <li class="nav-item" >
            <a [routerLink]="['/usermanagement']" [routerLinkActive]="'active'">User Management</a>
          </li>
          <li class="nav-item" >
            <a [routerLink]="['/report']" [routerLinkActive]="'active'">Report</a>
          </li>
         

          <a [routerLink]="['/login']" class="btn btn-lg h-100 tt " style="background-color: #2c3e50; color: #fff;font-size:medium;">
            Log out<i class="fa fa-sign-out" style="margin-left: 10px;" aria-hidden="true"></i>
          </a>
        </ul>

          
      </div>
    </div>
  </nav>