@media (min-width:1440px) {
    


    .col-lg-9{
        width: 1150px;
        margin-top: 50px;
        margin-left: 350px;
      }
      .text{
        width: 1000px;
      }}
      .text{
        width: 100%;
      }