<app-nav></app-nav>
<app-sidee></app-sidee>

<div class="col-lg-9 col-md-12 right">
  <div class="container">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb">
       
       
       
      </ol>
    </nav>
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb">
       
       
        <li class="breadcrumb-item active" aria-current="page">
         Attendance
        </li>
      </ol>
    </nav>

    <h3 class="text-center mb-5">Attendance</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      
      <div class="col" *ngFor="let course of courses">
        <div class="card">
          <a routerLink="/attendd">
            <img [src]="'../assets/images/' + course.image" class="c2 card-img-top" [alt]="course.alt"
              data-toggle="tooltip" data-placement="top" title="click & mark attendance" />
          </a>
          <div class="card-body">
            <p class="card-text text-center">{{ course.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
