
<app-navbarr></app-navbarr>
<app-sideee></app-sideee>
<div class="col-lg-9 col-md-12 right ">
  <nav aria-label="breadcrumb ">
    <ol class="no breadcrumb">
    
      
      
   
    </ol>
  </nav>
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
    
      
      <li class="breadcrumb-item active" aria-current="page">
      Feedback
      </li>
    </ol>
  </nav>
  <div class="container">
    <h2 class="text-center mb-4">Feedback</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      
      <div class="col" *ngFor="let course of courses">
        <div class="card">
          
        <a routerLink="/Multiplefeedback">
            <img [src]="'../assets/images/' + course.image" class="c2 card-img-top" [alt]="course.alt"
             data-toggle="tooltip" data-placement="top" title="click & view attendance" />
          </a>
          <div class="card-body">
            <p class="card-text text-center">{{ course.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
